/* MenuSlider.css (créez un fichier CSS séparé si ce n'est pas déjà fait) */

.menu-slider {
    background-color: black; /* Fond noir */
    padding: 50px; /* Espace intérieur */
    color: #ff9800;
  }
  
  .menu-item {
    background-color: #333; /* Couleur de fond pour chaque élément du menu */
    text-align: center; /* Centrer le contenu */
    border-radius: 10px; /* Coins arrondis */
  }
  
  .menu-item img {
    max-width: 100%; /* Assurez-vous que l'image ne dépasse pas la largeur du conteneur */
    border-radius: 5px; /* Coins arrondis pour l'image */
  }
  
  .menu-item h3 {
    color: #fff; /* Couleur du texte */
  }
  
  .menu-item p {
    color: #ccc; /* Couleur du texte légèrement grisé */
  }
  
  .menu-item button {
    background-color: #ff9800; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte du bouton */
    border: none; /* Supprimer la bordure */
    padding: 10px 20px; /* Espace intérieur du bouton */
    cursor: pointer; /* Curseur pointeur au survol */
    border-radius: 5px; /* Coins arrondis */
  }
  
  .menu-item button:hover {
    background-color: #e64a19; /* Couleur de fond du bouton au survol */
  }
  
  .slider-indicator {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 14px;
    opacity: 0.7;
  }